<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>



  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.rideCompany.controller.LoginController</servlet-class>
  </servlet>

	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<display-name>RegisterController</display-name>
		<description></description>
		<servlet-class>com.rideCompany.controller.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HeaderController</servlet-name>
		<display-name>HeaderController</display-name>
		<description></description>
		<servlet-class>com.rideCompany.controller.HeaderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookController</servlet-name>
		<display-name>BookController</display-name>
		<description></description>
		<servlet-class>com.rideCompany.controller.BookController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VehicleController</servlet-name>
		<display-name>VehicleController</display-name>
		<description></description>
		<servlet-class>com.rideCompany.controller.VehicleController</servlet-class>
	</servlet>


  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/RegisterController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HeaderController</servlet-name>
		<url-pattern>/HeaderController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/BookController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleController</servlet-name>
		<url-pattern>/VehicleController</url-pattern>
	</servlet-mapping>



	
  
</web-app>
